APP_ENV=development
MEGA_EMAIL=your-mega-email@example.com
MEGA_PASSWORD=your-mega-password
MEGA_FOLDER=RomaMusic
PYTHON_SERVICE_URL=http://127.0.0.1:8001
PHP_SERVICE_URL=http://127.0.0.1:8002
RUBY_SERVICE_URL=http://127.0.0.1:8003
JAVA_SERVICE_URL=http://127.0.0.1:8004
CSHARP_SERVICE_URL=http://127.0.0.1:8005
GO_GATEWAY_PORT=8080
